.footer__container {
  width: 70%;
  height: 5em;
  background-color: var(--tercary);
  margin-top: 3em;
  margin-bottom: -1em;
  display: flex;
  align-items: center;
  padding-left: 15%;
}

.footer__container a {
  padding-right: 2em;
  font-weight: 600;
  color: var(--grey);
}
