.footer__container {
  width: 70%;
  height: 5em;
  background-color: var(--tercary);
  margin-top: 3em;
  margin-bottom: -1em;
  display: flex;
  align-items: center;
  padding: 0 15%;
}

.footer__container a {
  padding-right: 2em;
  font-weight: 600;
  color: var(--grey);
}

.footer__resume {
  text-decoration: none;
  color: var(--primary) !important;
}

.footer__container button {
  background-color: var(--tercary);
  border: none;
  font-weight: 600;
  color: var(--grey);
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
}
