.navbar__container {
  background-color: var(--secondary);
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--light);
}

.navbar__logo {
  padding-left: 70px;
}

.navbar__logoImg {
  width: 8em;
  margin-top: -25px;
  margin-bottom: -10px;
}

.navbar__menuList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 70px;
}

.navbar__menuList li {
  list-style: none;
  margin-right: 35px;
}

.navbar__contactBtn {
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--primary);
}
