.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.home__horizontalLine {
  height: 1px;
  width: 60%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.489);
}

.home__hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__hero h1 {
  font-size: 4.5em;
}

.home__hero p {
  margin-top: 5em;
}

.homeFooter__container {
  background-color: var(--tercary);
  height: 60vh;
  max-width: 100%;
  margin-top: 5em;
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeFooter__container p:first-child {
  font-size: 3.8em;
  margin-bottom: 0.5em;
}

.home__cardContainer {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 1em;
}

.home__cardContainer h3 {
  margin: 2em 0;
  color: var(--primary);
  font-weight: 300;
  text-transform: uppercase;
}

.home__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 648px) {
  .home__hero {
    height: 80vh;
    padding: 2em;
    text-align: center;
  }

  .home__hero h1 {
    font-size: 3.5em;
  }

  .home__cardContainer {
    width: 90%;
    margin: 0 5%;
  }

  .homeFooter__container {
    margin-top: 1em;
    padding: 2em 8%;
    height: 50vh;
  }

  .homeFooter__container p:first-child {
    font-size: 2em;
  }
}
