.project__container {
  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__title {
  width: 100%;
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em 8em;
  text-justify: center;
}

.project__title h1 {
  font-weight: 600;
}

.project__title h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
}

.project__title span {
  color: var(--primary);
}

@media (max-width: 648px) {
  .project__container {
    width: 90%;
    margin: 0 5%;
  }

  .project__title {
    width: 100%;
    min-height: 18em;
    margin: 2em 0em;
    margin-top: 4em;
    font-size: 0.8em;
  }
}
