@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
}

:root {
  --primary: blue;
  --light: #fff;
  --dark: #202020;
}

body {
  color: #202020;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
}

html,
body {
  width: calc(100vw - (100vw - 100%));
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.noLink {
  text-decoration: none;
}

/* @media (max-width: 648px) {
  .heading {
    font-size: 1.8em;
  }
} */
