@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #eb462e;
  --secondary: #fff7e4;
  --tercary: #ffedc4;
  --light: #fff;
  --dark: #202020;
  --grey: #6a6a6a;
  --shadow: rgba(68, 68, 68, 0.571);
}

body {
  color: var(--dark);
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
  cursor: url("Assets/cursor.svg"), auto;
}

html,
body {
  width: calc(100vw - (100vw - 100%));
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.noLink {
  text-decoration: none;
  color: inherit;
}

/* @media (max-width: 648px) {
  .heading {
    font-size: 1.8em;
  }
} */

.noPage {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
