.blogPage__container {
  width: 60%;
  margin: 0 20%;
  height: 100%;
}

.blogPage__header {
  margin: 3em 0;
}

.blogPage__header p {
  color: var(--grey);
  font-size: 0.9em;
}

.blogPage__content {
  display: flex;
  flex-direction: column;
}

.blogPage__content p {
  margin-bottom: 2em;
}

.blogPage__content img {
  max-width: 100%;
}
